<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shearf.cloud.apps.user.center.dal.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.shearf.cloud.apps.user.center.domain.model.UserModel">
        <id property="id" column="id" jdbcType="INTEGER" />
        <result property="name" column="name" jdbcType="VARCHAR" />
        <result property="email" column="email" jdbcType="VARCHAR" />
        <result property="password" column="password" jdbcType="CHAR" />
        <result property="salt" column="salt" jdbcType="CHAR" />
        <result property="status" column="status" jdbcType="TINYINT" />
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP" />
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List">
        `id`, `name`, `email`, `status`, `password`, `salt`, `create_time`, `update_time`
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.shearf.cloud.apps.user.center.domain.model.UserModel">
        INSERT INTO `user_center_user` (`name`, `email`, `status`, `password`, `salt`, `create_time`, `update_time`)
            VALUES (#{name, jdbcType=VARCHAR}, #{email, jdbcType=VARCHAR}, #{status, jdbcType=TINYINT},
                    #{password, jdbcType=CHAR}, #{salt, jdbcType=CHAR}, #{createTime, jdbcType=TIMESTAMP},
                    #{updateTime, jdbcType=TIMESTAMP})
    </insert>
    <select id="getByEmail" resultMap="BaseResultMap" parameterType="String">
        SELECT <include refid="Base_Column_List" />
        FROM `user_center_user` WHERE `email` = #{email, jdbcType=VARCHAR}
    </select>

    <delete id="delete" parameterType="Integer">
        DELETE FROM `user_center_user` WHERE `id` = #{id, jdbcType=INTEGER};
    </delete>
</mapper>